<div class="title">
  <span>Providers</span>
  <span class="ml-1">(Create: <code style="margin-left: 0.25rem"><b>ExperimentalLoggerService</b></code>)
</span>
</div>

<table>
  <thead>
    <td></td>
    <td>
      <span style="color: red">LoggerService</span>
      <br>
      implements
      <div class="bg-code ml-1">
        <code>Logger</code>
      </div>
    </td>
    <td>
      <span style="color: red">AppComponent</span>
      <br/>
      <div class="bg-code">
        <code>private logger: LoggerService</code>
      </div>
      and implements
      <div class="bg-code">
        <code>OnInit</code>
      </div>
    </td>
    <td>Detection</td>
    <td>Result (log)</td>
  </thead>

  <tbody>
    <!-- useClass -->
    <tr>
      <td>useClass</td>
      <td>-</td>
      <td>
        <div class="bg-code">
          <code>
          providers: [
            provide: LoggerService,
            <b class="main-text">useClass</b>: ExperimentalLoggerService
          ]
          </code>
        </div>
      </td>
      <td>
        return new ExperimentalLoggerService(deps...)
      </td>
      <td>AppComponent (experimental) - init</td>
    </tr>

    <!-- useExisting -->
    <tr>
      <td>useExisting</td>
      <td>
        in
        <span style="color: red;">ExperimentalLoggerService</span>
        <br>
        <code>@Injectable(providedIn: 'root')</code>
      </td>
      <td>
        <div class="bg-code">
          <code>
          providers: [
            provide: LoggerService,
            <b class="main-text">useExisting</b>: ExperimentalLoggerService
          ]
          </code>
        </div>
        <div class="bg-code">
          <code>
          private experimentalLogger: ExperimentalLoggerService
          </code>
        </div>
      </td>
      <td colspan="2">
        w/o useExisting, logger & experimentalLogger is NOT the same instance
      </td>
    </tr>

    <!-- useValue -->
    <tr>
      <td>useValue</td>
      <td>
        create
        <span style="color: red;">LoggerLegacy</span>
      </td>
      <td>
        <div class="bg-code">
          <code>
          providers: [
            provide: LoggerService,
            <b class="main-text">useValue</b>: LoggerLegacy
          ]
          </code>
        </div>
      </td>
      <td id="detection">
        <span style="color:red">ERROR</span> when use with
        <br/>
        <span>useExisting: it's not injected and Angular will be trying to find dependency for [Object Object]</span>
        <br/>
        <span>useClass: it uses operator new in order to create an object, and we can not call the operator new against the object literal</span>
      </td>
      <td>AppComponent (legacy): init</td>
    </tr>

    <!-- InjectionToken -->
    <tr>
      <td rowspan="2">InjectionToken</td>
      <td>
        create
        <span style="color: red;">AppConfig</span>
      </td>
      <td>
        in <span style="color: red;">ExperimentalLoggerService</span>
        <div class="bg-code">
          <code>
          constructor(<b class="main-text">@Inject(APP_CONFIG)</b> private config: AppConfig)
          <br/>
            console.log('ExperimentalLoggerService -> constructor -> config', config);
          </code>
        </div>
      </td>
      <td>-</td>
      <td>ExperimentalLoggerService -> constructor -> config -> object: experimentalEnabled: true</td>
    </tr>

    <tr>
      <td>-</td>
      <td>
        in <b class="main-text"><code>providers</code></b>
        <div class="bg-code">
          <code>
          provide: LoggerService,
          <br/>
          useFactory: (config: AppConfig) => 
            return config.experimentalEnabled ? new ExperimentalLoggerService() : new LoggerService(),
          <br/>
          deps: [APP_CONFIG]
        </code>
        </div>
      </td>
      <td>-</td>
      <td>AppComponent (experimental) - init</td>
    </tr>
  </tbody>
</table>