<div class="title">
  <span>Providers</span>
  <span class="ml-1">(Create: <code style="margin-left: 0.25rem"><b>ExperimentalLoggerService</b></code>)
</span>
</div>

<table>
  <thead>
    <td></td>
    <td>
      <span style="color: red">LoggerService</span>
      <br>
      <div class="bg-code">
        implements<code class="ml-1">Logger</code>
      </div>
    </td>
    <td>
      <span style="color: red">AppComponent</span>
      <br/>
      <div class="bg-code">
        <code>private logger: LoggerService</code>
      </div>
      and implements
      <div class="bg-code">
        <code>OnInit</code>
      </div>
    </td>
    <td>Detection</td>
    <td>Result (log)</td>
  </thead>

  <tbody>
    <!-- useClass -->
    <tr>
      <td>useClass</td>
      <td>-</td>
      <td>
        <div class="bg-code">
          <code>
          providers: [
            provide: LoggerService,
            <b>useClass</b>: ExperimentalLoggerService
          ]
          </code>
        </div>
      </td>
      <td>
        return new ExperimentalLoggerService(deps...)
      </td>
      <td>AppComponent (experimental) - init</td>
    </tr>
  </tbody>
</table>