<div class="title">Resolution Modifiers</div>
<table>
  <thead>
    <td></td>
    <td>
      <span style="color: red">LoggerService</span>
      <br/>
      <div class="bg-code">
        <code>log: (message: string) => void</code>
      </div>
    </td>
    <td>
      <span style="color: red">AppComponent</span>
      <br/>
      in constructor
      <div class="bg-code ml-1">
        <code>if logger => logger.log('...')</code>
      </div>
    </td>
    <td>Detection</td>
    <td>App build</td>
  </thead>

  <tbody>
    <!-- @Optional() -->
    <tr>
      <td rowspan="2">@Optional()</td>
      <td><code>@Injectable()</code></td>
      <td>
        <div class="bg-code">
          <code>private logger: LoggerService</code>
        </div>
      </td>
      <td id="detection">
        No providedIn 'root' in S and inject @Optionals in C
      </td>
      <td>❌</td>
    </tr>

    <tr>
      <td>-</td>
      <td>
        <div class="bg-code">
          <code><b>@Optional()</b> private logger: LoggerService </code>
        </div>
      </td>
      <td>Prevents application from crashing if dependencies was not found</td>
      <td>🎉</td>
    </tr>

    <!-- @Self() -->
    <tr>
      <td rowspan="2">@Self()</td>
      <td rowspan="5"><code>@Injectable(providedIn: 'root')</code></td>
      <td>
        <div class="bg-code">
          <code><b>@Self()</b> private logger: LoggerService </code>
        </div>
      </td>
      <td id="detection">
        No provider for LoggerService
      </td>
      <td>❌</td>
    </tr>

    <tr>
      <td>
        <div class="bg-code">
          <code><b>providers: [LoggerService]</b></code>
        </div>
        <br />
        <div class="bg-code">
          <code><b>@Self()</b> private logger: LoggerService </code>
        </div>
      </td>
      <td id="detection">
        Eagerly imported modules share their root module injector.
        <br />
        @Self() will point out to exactly root injector.
      </td>
      <td>🎉</td>
    </tr>

    <!-- @SkipSelf() -->
    <tr>
      <td>@SkipSelf()</td>
      <td>
        <div class="bg-code">
          <code>
            <b>@Self()</b> private logger: LoggerService,
            <br />
            <b>@SkipSelf()</b> private parentLogger: LoggerService
          </code>
        </div>
      </td>
      <td id="detection">
        Opposite from @Self()
        <br />
        Just keep injector where it was declared and result dependencies
        starting from its parent and above.
      </td>
      <td>🎉</td>
    </tr>

    <!-- @Host() -->
    <tr>
      <td rowspan="2">@Host()</td>
      <td>
        <div>
          app.component.html:
          <br />
          <div class="bg-code">
            <code>
              div <b>appParent</b>
              <br />
              &nbsp; div <b>appChild</b>
            </code>
          </div>
        </div>
        <div>
          child.directive.ts (it will work normally without parent directive):
          <br />
          <div class="bg-code">
            <code> <b>@Host()</b> private parentLogger: LoggerService </code>
          </div>
        </div>
        <div>
          parent.directive.ts
          <br />
          <div class="bg-code">
            <code>
              <b>@Optional() @Self()</b> private logger: LoggerService</code>
          </div>
        </div>
      </td>
      <td id="detection">
        No provider for LoggerService
      </td>
      <td>❌</td>
    </tr>

    <tr>
      <td>
        <div>
          as above, and add providers in parent.directive.ts:
          <br />
          <div class="bg-code">
            <code> <b>providers</b> [LoggerService] </code>
          </div>
          <br />
        </div>
      </td>
      <td id="detection">
        Tell Angular the host element should be <b>the last stop</b> when it is
        searching for providers
        <br />
        Just keep injector where it was declared and result dependencies
        starting from its parent and above.
      </td>
      <td>🎉</td>
    </tr>
  </tbody>
</table>

<!-- @Host -->
<!-- <div appParent>
  <div appChild></div>
</div> -->